html,
body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align:  center;
}

html {
    background: url(../bg.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}